<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 载入文章头部页面，位置在/client文件夹下的header模板页面，模板名称th:fragment为header -->
<div th:replace="/client/header::header('我的博客',null)"></div>
<body>
<div class="am-g am-g-fixed blog-fixed index-page">
    <!-- 搜索结果 -->
    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>搜索结果</span></h2>
            <div style="text-align: left">
                <th:block th:each="article :${articleList}">
                    <a  style="font-size: 15px;" th:href="@{'/article/'+${article.id}}"
                        th:text="${articleStat.index+1}+'、'+${article.title}+'('+${article.hits}+')'">
                    </a>
                    <hr style="margin-top: 0.6rem;margin-bottom: 0.4rem" />
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 载入文章尾部页面，位置在/client文件夹下的footer模板页面，模板名称th:fragment为footer -->
<div th:replace="/client/footer::footer"></div>
</html>
